body {

    background-color: rgb(211, 212, 207);
}

header {

    text-align: center;
    font-size: 2em;
    background-color: blanchedalmond;
    width: 80%;
    border-radius: 2em;
    border: solid 3px black;
    margin-inline-start: 6em;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px rgb(255, 251, 8);

}

canvas {
    display: block;
}